{{> header }}

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <div class="row justify-content-center">
        <div class="">
          <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/190/190619.svg" alt="Generic placeholder image" width="140" height="140">

        </div>
      </div>
      <div class="row justify-content-center">
        <h2 class="bCarouselHeader">{{user.fullname}}</h2>
      </div>

      <div class="row justify-content-center">
        <p><a class="btn btn-secondary" href="#" role="button">Edit Avatar &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="container marketing">
    <div class="row">

      <div class="col-lg-3">
        <h2 class="bCarouselHeader">About</h2>
        <dl>
          <dt><i class="fa fa-briefcase"></i> Occupation:</dt>
          <dd>Programmer</dd>

          <dt><i class="fa fa-map-marker"></i> Location:</dt>
          <dd>Lagos, Nigeria</dd>

          <dt><i class="fa fa-calendar"></i> Joined:</dt>
          <dd>2017</dd>
        </dl>
        <p><a class="btn btn-secondary" href="#" role="button">Add Education &raquo;</a></p>
      </div>

      <div class="col-lg-6">

        <h2 class="bCarouselHeader">Recent Articles</h2>
        <div class="articles">
          <h3>Article 1</h3>
          <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
          </p>
          <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
          </p>
        </div>

        <div class="articles">
          <h3>Article II</h3>
          <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
          </p>
          <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
          </p>
        </div>

        <div class="articles">
          <h3>Article III</h3>
          <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
          </p>
          <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
          </p>
        </div>
      </div>
      <!--End col-6 -->

      <div class="col-lg-3">

        <h2 class="bCarouselHeader">Updates</h2>
        <p>The more time you give yourself to complete a goal, the more likely you’ll achieve it. By undertaking new goals with deliberate slowness, you increase the chance you can achieve lasting success.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View Article &raquo;</a></p>
      </div>
    </div>

  </div>
  <!-- /.container -->
</main>
<hr class="featurette-divider">

<!-- FOOTER -->
{{> footer-end }}
